.main {
    background-color: #54403f;
    min-height: 75vh;
}

.title {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.navbar-container {
    min-height: 12.5vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden;
}

.navbar-logo {
    color: white;
    font-size: 1.5rem;
    width: 25%;
}

.navbar-logo:visited {
    color: white;
}

.navbar-text {
    color: white;
}

.navbar-text:visited {
    color: white;
}

.navbar-links {
    text-decoration: none;
    transition: 0.7s ease;
}

.navbar-links:visited {
    text-decoration: none;
}

.navbar-logged {
    color: white;
}

.navbar-ul {
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
    position: absolute;
    left: -100%;
    top: 12.5vh;
    flex-direction: column;
    gap: 0;
    background-color: #198754;
    text-align: center;
    width: 100%;
    transition: 0.3s;
    z-index: 100;
}

.navbar-li {
    list-style: none;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 4vh 0;
}

.navbar-hamburger {
    display: block;
    width: 10%;
    cursor: pointer;
}

.navbar-hamburger.navbar-active .navbar-bar:nth-child(2) {
    opacity: 0;
}

.navbar-hamburger.navbar-active .navbar-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar-hamburger.navbar-active .navbar-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.navbar-active {
    left: 0;
}

.navbar-button {
    width: 40vw;
    height: 5vh;
}

.footer {
    min-height: 12.5vh;
}

.footer-credits {
    color: white;
    margin-bottom: 0;
}

.footer-icons {
    color: white;
}

.login-btn {
    height: 2.5rem;
}

.login-hint {
    font-size: 1.25rem;
    color: white;
}

.form-validation {
    font-size: 1.5rem;
    color:white;
    font-weight: 300;
}

.home-title {
    font-size: 2.5rem;
    text-align: center;
}

.home-message {
    text-align: justify;
    font-size: 1.4rem;
}

.home-vegan {
    color: green;
    font-style: italic;
    font-weight: 500;
}

.home-button {
    font-size: 1.5rem;
    font-weight: 300;
}

.search-btn {
    height: 3rem;
    width: 4rem;
}

.search-negative {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.menu-message {
    font-size: 1.25rem;
    color:white
}

.dish-container {
    min-height: 30rem;
}

.dish-image {
    width: 100%;
    max-height: 13rem;
}

.dish-buttons {
    height: 3rem;
    width: 6rem;
    padding: 0.5rem;
}

.dish-title {
    font-size: 1.5rem;
    text-align: center;
}

.dish-title-container {
    min-height: 10rem;
}

.dish-vegan {
    color: green;
    font-size: 1rem;
}

.dish-glutenfree {
    color: orange;
    font-size: 1rem;
}

.detail-loader {
    width: 10rem !important;
    height: 10rem !important;
    border-width: 1rem !important;
}

.detail-title {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.detail-stats {
    font-size: 1.25rem;
    font-weight: 300;
}

.about-paragraph {
    font-size: 1.25rem;
    color:white;
    text-align: center;
}

.error-title {
    font-size: 3.5rem;
    text-align: center;
}

.error-message {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
}

.error-btn {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
}

@media(min-width:768px) {
    .title {
        font-size: 4rem;
    }

    .navbar-logo {
        font-size: 2rem;
    }

    .navbar-li {
        font-size: 1.75rem;
    }

    .navbar-button {
        width: 30vw;
        font-size: 1.75rem;
        font-weight: 300;
    }
    
    .navbar-bar {
        width: 50px;
        height: 5px;
        margin: 10px auto;
        border-radius: 100px;
    }

    .navbar-hamburger.navbar-active .navbar-bar:nth-child(1) {
        transform: translateY(15px) rotate(45deg);
    }

    .navbar-hamburger.navbar-active .navbar-bar:nth-child(3) {
        transform: translateY(-15px) rotate(-45deg);
    }

    .footer-credits {
        font-size: 1.25rem;
    }

    .footer-icons {
        font-size: 4em;
    }

    .login-btn {
        height: 3rem;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .login-hint {
        font-size: 1.5rem;
    }

    .form-validation {
        font-size: 1.25rem;
    }

    .form-control {
        height: 3rem;
        font-size: 1.5rem;
    }

    .home-title {
        font-size: 3.5rem;
    }

    .home-message {
        font-size: 2rem;
    }

    .home-button {
        font-size: 2rem;
        font-weight: 300;
        height: 4rem;
        width: 15rem;
    }

    .menu-message {
        font-size: 2rem;
        font-weight: 300;
    }

    .search-negative {
        font-size: 2rem;
        text-align: center;
        font-weight: 300;
    }

    .dish-container {
        min-height: 40rem;
        width: 47%;
    }

    .dish-buttons {
        height: 4rem;
        width: 8rem;
        font-size: 1.5rem;
    }

    .dish-title {
        font-size: 2rem;
    }

    .dish-title-container {
        min-height: 20rem;
    }

    .dish-vegan {
        font-size: 1.5rem;
    }

    .dish-glutenfree {
        font-size: 1.5rem;
    }

    .dish-text {
        font-size: 1.5rem;
    }

    .dish-stats {
        font-size: 1.75rem;
    }

    .about-paragraph {
        font-size: 2rem;
    }
}

@media(min-width:992px) {
    .navbar-logo {
        width: 35%;
    }
    
    .navbar-ul {
        position: relative;
        left: 0;
        top: 0;
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        background-color: transparent;
        text-align: center;
        width: 100%;
        z-index: 0;
        margin: 0;
    }

    .navbar-li {
        margin: 0;
    }
    
    .navbar-hamburger {
        display: none;
    }

    .navbar-button {
        width: 6vw;
        height: 4vh;
        font-size: 1.25rem;
        font-weight: 300;
    }

    .navbar-button-container {
        width: 15vw;
        height: 4vh;
        justify-content: center;
    }

    .home-title {
        font-size: 2.5rem;
    }

    .home-message {
        font-size: 1.35rem;
    }

    .dish-container {
        width: 23%;
    }

    .dish-buttons {
        height: 3rem;
        width: 6rem;
        font-size: 1.25rem;
        font-weight: 300;
    }

    .dish-title {
        font-size: 1.5rem;
    }

    .dish-title-container {
        min-height: 12rem;
    }

    .dish-vegan {
        font-size: 1rem;
    }

    .dish-glutenfree {
        font-size: 1rem;
    }

    .dish-text {
        font-size: 1.3rem;
    }

    .dish-stats {
        font-size: 1.75rem;
    }

    .detail-title {
        font-size: 3rem;
    }

    .detail-stats {
        font-size: 2rem;
    }

    .about-paragraph {
        font-size: 1.7rem;
        font-weight: 300;
    }
}