.main {
    background-color: #54403f;
    min-height: 70vh;
}

.navbar-brand {
    color: white;
}

.navbar-sections {
    color: white;
}

.navbar-logged {
    color: white;
}

.footer-credits {
    color: white;
}

.footer-icons {
    color: white;
}

@media(min-width:768px) {
    
}

@media(min-width:992px) {
    
}